body {
  margin: 128px 10px;
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
}

p {
  font-weight: 300;
  font-size: 17px;
}

li {
  list-style: none;
  margin: 0 10px;
  display: flex;
  position: relative;
}

img {
  height: 431px;
  width: 335px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#description {
  flex-basis: 283px;
  position: absolute;
  top: 328px;
  left: 26px;
  right: 0;
  z-index: 2;
}
